<!- Wrap JavaScript with percent tags->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/grid.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:100,300,400,300italic' rel='stylesheet' type='text/css'>
  <title>1health</title>

</head>
<body>
    <header>
          <div class="row">
            <a href="#"><h1>One Health</h1></a>
          </div>
          <div class="row" id="comingSoon">
            <h1>COMMING SOON</h1>
          </div>
          <div class="row" id="quote">
            <blockquote>"Healthy living for all everyone"</blockquote>
          </div>
    </header>

</body>
<html>
